body {
  background-color: #9ffcfd; /* svarer til bgcolor */
  color: #ffffff; /* svarer til text */
}

header {
  margin: 18px 19px 20px 21px;
  background: rgb(173, 173, 231);
  text-align: center;
  padding: 8px;
  border: 10px solid white;
  border-top: 10px dotted purple;
}
