body {
  background-color: #9ffcfd; /* svarer til bgcolor */
  color: #ffffff; /* svarer til text */
}

header {
  margin: 20px 20px 20px 20px;
  background: rgb(173, 173, 231);
  text-align: center;
  padding: 8px;
  border: 5px solid white;
}
